.main {
    font-size: 5rem;
    /* font-family: "Permanent Marker"; */
    /* font-family: "Kalam"; */
    font-family: "Pacifico",Arial, Helvetica, sans-serif;
    position: relative;
    letter-spacing: 5px;
    display: inline-block;
}

.sub {
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 1rem;
    top: 40px;
    right: 45px;
    letter-spacing: 0;
    font-style:italic;
    font-weight: 500;
}