.btn{
    background-color: #ddd;
    padding: 0.6rem;
    color: #666;
    border-radius: 1rem;
    border: 1.5px solid #666;
    font-weight: bold;
}
.btn:hover{
    color: black;
    cursor: pointer;
}