.card {
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.5); */
    width: 500px;
    display: inline-block;
    /* margin: 1rem 0; */
    border: 2px solid black;
    border-radius: 8px;
    width: 600px;
    min-width: 400px;
    max-width: 800px;
    padding: 0.5rem 1rem;
    overflow: hidden;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
}

.authors {
    font-size: 1.1rem;
    text-align: left;
    color: rgb(0, 140, 255);
    font-style: italic;
    margin-bottom: 8px;
}

.name {
    margin: 0 6px;
}

.links {
    text-align: left;
    display: flex;
    gap: 8px;
}

.link {

}